body{background-color:black;}

img
{
    width: 255px;
    height: 145px;
}

#img2
{
   cursor:crosshair;
   width:50%;
   height:50%;
   margin: 0 auto;
}

.contenitore_tot
{
float:center;
width:50%;
 height:0%;
margin:0 auto;
padding:0;
}

.contenitore
{
   position:fixed;
   margin: 2%;
   background-color: #C7BDBD;
   width:41%;
   height:0%;
   left:25%;
}
.contenitore2
{
background-color:#fff862;
 width:0px;
height:0px;
position:fixed;
left:0;
top:0px;
 margin:2%;
}

.contenitore4
{
position:fixed;
margin: 0 auto;
top:14%;
right:27%;
}
.contenitore5
{
overflow-y:auto;
font-family:Imprint MT Shadow;
text-align:center;
position:absolute;
border: 0% solid;
margin-bottom:10px;
color:white;
background-color:#282828;
width:39%;
height:50%;
top:48%;
right:33%;
letter-spacing:160%;
line-height:180%;
font-size:150%;
font-weight:bold;
}
.contenitore6
{
position:fixed;
width:300px;
height:500px;
margin: 0 auto;
left:75%;
top:20%;
background-color:white;
background-image: url('../img/Box_Right.jpg');
background-size:cover;
}
.contenitore7
{
position:fixed;
width:300px;
height:400px;
margin: 0 auto;
right:75%;
top:30%;
background-color:black;
background-image: url('../img/Box_Left.jpg');
background-size:cover;
}
#scatola
{
margin: 0 auto;
width: 807px;
height:32px;
}


a{
    text-decoration: none;
    color: white;
}
li
{
    float:left;
}
li .rosso
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li .rosso:hover {background-color: red;}
li .verde{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li .verde:hover
{
background-color: orange;
color:black;
}
li .rosa{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li .rosa:hover { background-color: pink;}
li .giallo{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li .giallo:hover { background-color: #FFD700;}
li .blu{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li .blu:hover { background-color: green;}
li .photo{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li .photo:hover{background-color:purple;}



li .facebook{ display: inline-block;
           color: white;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
           font-family:Lucida Sans;
           background-color:#3b5998;
         }
li .facebook:hover{background-color:#3b0998;}

.contenitoreIng
{
   position:absolute;
   margin: 2%;
   background-color: #C7BDBD;
   width:43%;
   height:0%;
   top:0;
   left:25%;

}
.contenitore5Ing
{
overflow-y:auto;
font-family:Imprint MT Shadow;
text-align:center;
position:absolute;
border: 0% solid;
margin-bottom:10px;
color:white;
background-color:#282828;
width:43%;
height:50%;
height:0 auto;
top:48%;
right:30%;
letter-spacing:160%;
line-height:180%;
font-size:150%;
font-weight:bold;
}
.contenitore4Ing
{
position:fixed;
margin: 0 auto;
top:14%;
right:27%;
}

#children , #teen , #y_adults , #adults
{

width:auto;
height:25%;
margin:2%;


}
#selezione
{

width:50%;
height:50%;
margin-top:15%;
margin-left:25%;
}

#dentro
{
background-color: #304562;

top:0;
left:0;
color: #fff;
cursor:pointer;

transition:all 500ms ease-out;
opacity: 0;
width:auto;
height:100%;
}
 #children:hover #dentro,  #teen:hover #dentro ,  #y_adults:hover #dentro ,  #adults:hover #dentro
 {
opacity:0.9;
}
#children
{
background: url(../img/children.bmp) ;
   background-size: cover;
}

.event
{
   position:absolute;
   margin: 10% 2% 2% -20%;
   background: #17BACE;
   width:100%;
   height:auto;
   top:0;
   left:20%;
   border: 1px;
   border-radius: 2%;
}

#img3
{
   cursor:crosshair;
   width:50%;
   height:50%;
   background-image: url("../img/ev.jpg");
   margin: 0 auto;
}

#img_ev
{
	margin: 2% 1% 1% 2%;
	width:305px;
	height: 195px;
	float: left;
}

#title
{
	margin: 2% 0px 2% 4%;
	color: white;
	font-size: 30px;
	font-family:Buxton Sketch;
	width: 100%;
	height: auto;
	transition: 1s;
}

#title:hover
{
	margin: 2% 0px 2% 6%;
	color: red;
}

#descrizione
{
	margin: 0px 0px 2% 4%;
	color: white;
	font-size: 22px;
	font-family:Buxton Sketch;
	width: 100%;
	height: auto;
	transition: 1s;
}

#descrizione:hover
{
	margin: 0px 0px 2% 6%;
	color: #1F6702;
}

#info
{
	margin: 0px 0px 2% 4%;
	color: white;
	font-size: 22px;
	font-family:Buxton Sketch;
	width: 100%;
	height: auto;
	transition: 1s;
}

#info:hover
{
	margin: 0px 0px 2% 6%;
	color: blue;
}

.testo
{
    margin-top:5%;
    margin-left:25%;
    position:absolute;
    font-size: 100%;
    overflow-y: scroll;
    width: 12%;
    height: 40px;
    padding: 20%;
    border:  none;
    border-right: 0 solid;
}

hr
{
color:blue;
}
.descrizione
{
	margin: 0px 0px 2% 0%;
	color: #14F370;
	font-size: 22px;
	font-family:Buxton Sketch;
	width: 100%;
	height: auto;
	transition: 1s;
}

.descrizione:hover
{
	color: #1F6702;

}

.descr::-webkit-scrollbar
{
	display:none;
}
.testo::-webkit-scrollbar
{
	display:none;
}

#contenitore_desc
{
	margin-top:20%;
}
